@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,200;0,300;0,400;0,700;1,200;1,300;1,400;1,800&display=swap");

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background-color: black; 
}
::-webkit-scrollbar-thumb {
  background-color: #030741; 
  border-radius: 5px; 
}
::-webkit-scrollbar-thumb:hover {
  background-color: #050b5a;
}

.App {
  background-image: url("https://images.wallpaperscraft.com/image/single/stains_liquid_paint_162249_1920x1080.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  font-family: "Fira Sans", sans-serif;
}
.card {
  filter: brightness(90%) !important;
  transition: box-shadow 0.2s, filter 0.2s, transform 0.5s !important;
}
.card:hover {
  box-shadow: 0 0 6px dimgray !important;
  filter: brightness(110%) !important;
  transform: scale(1.1);
  cursor: pointer;
}
.PDC img {
  filter: drop-shadow(0 0 10px dimgrey);
}

@keyframes blurEffect {
  0% {
    filter: blur(0);
  }
  40% {
    filter: blur(0);
  }
  50% {
    filter: blur(10px) drop-shadow(0 0 10px grey);

  }
  70% {
    filter: blur(0);
  }
  100% {
    filter: blur(0);
  }
} 

.toolTipContents p span{
  font-weight:bolder;
  color: darkcyan;
}